
  @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}


.sidebar{
    background-color:rgb(55, 55, 55);
    position: absolute;
    height: 100vh;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li{
    list-style-type: none;
    font-size: 30px;
    padding: 23px 0;
    ;
}

.sidebar nav li a{
    text-decoration: none;
    color: gold;
   
}
.sidebar nav li img{
    height: 17vh
    ;
    width: 17vh;
    border-radius: 100px;
}
.main{
    /* background-color:aliceblue ; */
    width: 90vw;
}

.container{
    display: flex;
}

.infocontainer{
    /* background-color:aliceblue; */
    height: 45vh;
    width: 78vw ;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devpic img {
    height: 45vh;  
    border-radius: 176px;
}
.devinfo{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello{
    font-size: 3em;
}
.name{
    font-size: 3em;
    font-weight: bold;
}
.about{
    font-size: 2.5em;
}

.btn{
    padding: 9px 14px;
    border-radius: 22px;
    background-color: rgb(6, 6, 6);
    margin: 3 3px ;
    font-weight: bold;
    font-size: 2em;
    color: azure;
    cursor: pointer;
    


}
.btn:hover{
    color: rgb(5, 5, 5);
    background-color: white;
}

.buttons{
font-size: 6px;
  margin-top: 2.2em;  
}

.btn-sm{
    font-size: 14px;
    padding: 10px 19p;
    margin: 12px 0;
}


.contactform{
    padding-top: 44px;
    margin:88px;
}


.contactform form div{
    padding: 10px 0px;
    display: flex;
    margin: 0 88px;
    flex-direction: column;}

.contactform form div{
    
    border-radius: 5px;
    margin: 6px 0 0 ;
    padding: 3px;

}
.contactform form{
    margin: 0 40px;
}
.blogcontainer{
    margin: 0 88px;
}



#emailHelp{
    
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}
#form-check{
    flex-direction: row;
}

#form-check-input{
width: 24px;
margin: 3px 0; 
}

.sidebargo{
    transform: translate(-443px, 0px);
    position: absolute;
}

.hamburger{
    position: absolute ; 
      cursor: pointer;
     top: 10px;
     left: 10px;
}
.ham{
    margin-top: 10px;
    margin-left: 10px;
}
.cross{
    margin-left: 185px;
    margin-top: 10px;
}

@media (maw-width: 1615px) {
    .devpic{
        display: none;
    }
    .intro{
        margin: 8px;
    }
    .blogitem img{
        height: auto;
        width: auto;
    }
    /* .sidebar{
        transform: translate(-443px ,0px);
        position: absolute;

    } */
}
.intro, .blogcontainer, .contactform{
    margin: 50px 10px;
}

.info h2 {
    padding-top: 4rem;
}
.info h2 h3{
    padding-top: 6px 0;
}
.moreblogbtn{
    border-radius: 1px;

}